@import "tailwindcss";

* {
  font-family: "Noto Sans Khmer", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}



@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

.custom-modal-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-modal-scroll::-webkit-scrollbar-thumb {
  background: rgba(161, 161, 170, 0.35);
  border-radius: 999px;
}

.custom-modal-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(161, 161, 170, 0.55);
}



/* Users */
.custom-modal-scroll {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.custom-modal-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-modal-scroll::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 122, 0.35);
  border-radius: 999px;
}

.custom-modal-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(113, 113, 122, 0.55);
}

.custom-modal-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(113, 113, 122, 0.45) transparent;
}